:root {
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* utility */
.flow-content > * + * {
  margin-top: 1rem;
}

body {
  line-height: 1.6;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--Light-gray);
  font-family: "Outfit", sans-serif;
}

.qr-card {
  width: 350px;
  padding: 1rem;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  text-align: center;
  border-radius: 1rem;
  background: var(--White);

  img {
    border-radius: 1rem;
  }

  .qr-card__content {
    padding: 0 1rem;
  }

  h2 {
    font-weight: 700;
  }

  p {
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--Grayish-blue);
    font-size: 15px;
  }
}

.attribution {
  margin-top: 3rem;
}
